.inventory-img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

body {
    background-color: rgb(138, 132, 132);
    opacity: 3;
}

.main-container,
.row {
    height: 100vh;
    color: white;
}

.gameplay {
    background: rgba(51, 28, 28, 0.555);
}